server:
  servlet:
    context-path: /TMeetingManagement
spring:
  datasource:
    url: jdbc:mysql://192.168.91.128:3306/tm_meeting_management?useSSL=false&serverTimezone=UTC&characterEncoding=utf8
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    open-in-view: false
logging:
  level:
    com.toastmasters.meeting: DEBUG
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
